<%- partial('common/head') %>
<script type="text/javascript" src="/js/clicklove.js"></script>
<body>
	<% if (theme.cursor.on){ %>
		<style>
			body{
				cursor: url(<%- config.root %><%- theme.cursor.cursor_0 %>), auto;
			}
			a {
				cursor: url(<%- config.root %><%- theme.cursor.cursor_0 %>), auto;
			}
		</style>
	<% } %>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <% if (theme.customize.profile.enabled) { %>
                <%- partial('common/profile', null, {cache: !config.relative_link}) %>
            <% } %>
            <section id="main"><%- body %></section>
            <% if (theme.customize.sidebar) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
</body>
</html>
